@media (max-width: 375px) {
    .peranet {
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .child {

        width: 327px;
        height: 450px;
        margin: 50px;

    }

}

@media (max-width: 576px) {
    .peranet {
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .child {

        width: 327px;
        height: 450px;
        margin: 50px;

    }

}

@media (max-width: 768px) {
    .peranet {
        padding-top: 10px;
        padding-bottom: 10px;
      
    }

    .child {

        width: 327px;
        height: 450px;
        margin: 50px;

    }

}

@media (max-width: 992px) {
    .peranet {
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    .child {

        width: 327px;
        height: 450px;
        margin: 50px;

    }

}